<nav class="top-nav" id="top">
  <a class="top-nav__logo">
    <%= image_tag('logo.svg') %>
  </a>
  <ul class="top-nav__list">
    <li class="top-nav__list-item">
      <%= link_to 'Try Now', '/notes', class: "button" %>
    </li>
  </ul>
</nav>

<main id="content">
  <section class="wrapper wrapper--intro home-grid__intro-padding home-grid__intro-bg">
    <div class="grid">
      <div class="home-grid__intro">
        <h1 class="heading heading--xlarge heading--tight">Study better with <b>plankr.</b></h1>
        <p>
          <span class="text-clipping">
            Everyone runs into the same problems when learning something new. Resources are spread all over the web, you search for the same things time and time again. Stuff is scattered all over the place and you have no idea where to start. Here's how Plankr solves it.
          </span>
        </p>
        
        <div class="home-grid__signup">
          <%= link_to 'Try now, sign up later', notes_path, class: 'button button_primary call-to-action' %>
        </div>
      </div>
      <hr class="sketch-rule grid__item grid__item--xlarge">
    </div>
  </section>
</main>
