<main class="layout">
  <section class="intro">
    <div class="intro__inner">
      <div class="head-logo-wrapper">
        <%= image_tag('head-graphic.svg', class: 'head-logo') %>
      </div>
      <h1 class="title">plankr</h1>
      <br>
      <p class="subtitle">Knowledge sharing tool</p>
      <br>
      <p class="small">
        Everyone runs into the same problems when learning something new. Resources are spread all over the web, you search for the same things time and time again. Stuff is scattered all over the place and you have no idea where to start. Here's how Plankr solves it.
      </p>
      <p>
        <%= link_to "Use for free", notes_path, class: 'button' %>
      </p>
    </div>
  </section>
  
  <section class="trix-container">
    <div class="trix-container__inner">
      <input id="content" value="" type="hidden" name="note[content]">
      <trix-editor input="content"></trix-editor>
    </div>
  </section>
</main>