<main class="layout">
  <section class="intro">
    <div class="intro__inner">
      <div class="head-logo-wrapper">
        <%= image_tag('head-graphic.svg', class: 'head-logo') %>
      </div>
      <h1 class="title">plankr</h1>
      <br>
      <p class="subtitle">Knowledge sharing tool</p>
      <br>
      <p class="small">
        Everyone runs into the same problems when learning something new. Resources are spread all over the web, you search for the same things time and time again. Stuff is scattered all over the place and you have no idea where to start. Here's how Plankr solves it.
      </p>
      <p>
        <%= link_to "Use for free", notes_path, class: 'button' %>
      </p>
    </div>
  </section>
  
  <section class="trix-container">
    <div class="trix-container__inner">
      <input id="content" type="hidden" name="note[content]" value="<h1>Pentatonic Scale</h1><div><br>The pentatonic scale is constructed from 5 notes.&amp;nbsp;<br>Mostly used by Rock and Blues players but really can be used for all genres.<br>Because of its natural construction of 5 notes, it has 5 positions, each starts from the next note.<br><br>Let's pick A minor for instance, the scale will look like this:</div><div><br>1st position:<br><br>E|--------------------------------5--8--<br>B|--------------------------5--8--------<br>G|--------------------5--7--------------<br>D|--------------5--7--------------------<br>A|--------5--7--------------------------<br>E|--5--8--------------------------------<br><br>2nd position (Major Pentatonic's 1st position):<br><br>E|------------------------------------8--10--<br>B|-----------------------------8--10---------<br>G|-----------------------7--9----------------<br>D|----------------7--10----------------------<br>A|---------7--10-----------------------------<br>E|--8--10------------------------------------<br><br>3rd position:<br><br>E|-----------------------------------------10--12--<br>B|---------------------------------10--13----------<br>G|--------------------------9--12------------------<br>D|------------------10--12-------------------------<br>A|----------10--12---------------------------------<br>E|--10--12-----------------------------------------<br><br>4th position:<br><br>E|------------------------------------------12--15--<br>B|----------------------------------13--15----------<br>G|--------------------------12--14------------------<br>D|------------------12--14--------------------------<br>A|----------12--15----------------------------------<br>E|--12--15------------------------------------------<br><br>5th position:<br><br>E|------------------------------------------15--17--<br>B|----------------------------------15--17----------<br>G|--------------------------14--17------------------<br>D|------------------14--17--------------------------<br>A|----------15--17----------------------------------<br>E|--15--17------------------------------------------<br><br></div><div>If you want to apply it for other keys, say G minor, you just need to shift the patterns down a whole step, so the root note is G.<br><br>Want to apply to a major key? No problem, for C major start playing the 2nd position from the tab above, so the root note is C.<br>And again if you want to apply to other major keys, say Bb, just shift the patters down a whole step, so the root note is Bb.">
      <trix-editor input="content"></trix-editor>
    </div>
  </section>
</main>