<!DOCTYPE html>
<html>
  <head>
    <%= tag.link rel: 'icon', sizes: '192x192', href: asset_url("logo-head-favicon.png") %>
    <title>Plankr</title>
    <%= stylesheet_link_tag 'welcome' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
