<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= tag.link rel: 'icon', sizes: '192x192', href: asset_url("logo-head-favicon.png") %>
    <title>Plankr</title>
    <%= stylesheet_link_tag 'welcome' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
